[Unit]
Description=Log power state for power-monitor
DefaultDependencies=no
Before=shutdown.target reboot.target halt.target

[Service]
Type=oneshot
ExecStart=/usr/lib/systemd/system-sleep/power-monitor-sleep-hook pre shutdown

[Install]
WantedBy=shutdown.target reboot.target halt.target
