[Unit]
Description=GNOME Power Monitor Daemon
After=graphical-session.target

[Service]
Type=simple
ExecStart=%h/dev/gnome-power-display/bazel-bin/cmd/power-monitor-daemon/power-monitor-daemon_/power-monitor-daemon -verbose
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
